<div class="item <%= css_class %>">
  <% picture_url = uri url(:visions, :show, id: "#{picture.vision.id}", pid: picture.id) %>
  <a data-toggle="lightbox" href="#demoLightbox_<%=picture.id%>">
    <%= image_tag(picture.large) %>
  </a>
    <div class="carousel-caption">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#share_<%=picture.id%>" data-toggle="tab" class="muted vision_link">Share</a></li>
        <% if picture.description_en != nil && picture.description_en != "" %>
          <li class=""><a href="#en_<%=picture.id%>" data-toggle="tab" class="muted vision_link">English</a></li>
        <% end %>
        <% if picture.description_es != nil && picture.description_es != ""%>
          <li class=""><a href="#es_<%=picture.id%>" data-toggle="tab" class="muted vision_link">Español</a></li>
        <% end %>
        <% if picture.description_jp != nil && picture.description_jp != ""%>
          <li class=""><a href="#jp_<%=picture.id%>" data-toggle="tab" class="muted vision_link">日本語</a></li>
        <% end %>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="share_<%=picture.id%>">
          <p><%= link_to picture_url, picture_url, target: "_alt", style: "color:lightgrey;" %></p>
        </div>
        <% if picture.description_en != nil && picture.description_en != "" %>
          <div class="tab-pane fade" id="en_<%=picture.id%>">
            <p><%= picture.description_en.html_safe %></p>
          </div>
        <% end %>
        <% if picture.description_es != nil && picture.description_es != ""%>
          <div class="tab-pane fade" id="es_<%=picture.id%>">
            <p><%= picture.description_es.html_safe %></p>
          </div>
        <% end %>
        <% if picture.description_jp != nil && picture.description_jp != ""%>
          <div class="tab-pane fade" id="jp_<%=picture.id%>">
            <p><%= picture.description_jp.html_safe %></p>
          </div>
        <% end %>
      </div>
    </div>
</div>