<div class="container">
  <div class="row">
    <div class="span12">
      <h1><%=@vision.title%></h1><%= link_to @vision.area.name, url(:areas, :show, :id => @vision.area)%>
      <h4 class="muted"><%= @vision.short_description %></h4>
    </div>
  </div>
</div>

<div class="container">
  <div id="pictures" class="row">
    <div class="span12">
      <div id="myCarousel" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") )%>
            <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= css_class %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") )%>
            <%= partial('visions/picture', :locals => {:css_class => css_class, :picture => picture})%>
          <% end %>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>
</div>

