<div class="container">
  <div class="row">
    <div class="span12">
      <h2><%=@vision.title%></h2>
      <h4>
        See more visions for <%= link_to @vision.area.name, url(:areas, :show, :id => @vision.area) %> area
        <% link_to "(View on map)", url(:maps, :show, :id => @vision.id) %>
      </h4>
      <h4 class="muted"><%= @vision.short_description %></h4>
    </div>
  </div>
</div>

<div class="container">
  <div id="pictures" class="row">
    <div class="span1"></div>
    <div class="span10">
      <div id="canvas" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") ) %>
            <li data-target="#canvas" data-slide-to="<%= i %>" class="<%= css_class %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") )%>
            <%= partial('visions/picture', :locals => {:css_class => css_class, :picture => picture})%>
          <% end %>
        </div>
        <a class="left carousel-control vision_link" href="#canvas" data-slide="prev">‹</a>
        <a class="right carousel-control vision_link" href="#canvas" data-slide="next">›</a>
      </div>
      <div>
        <% vision_url = uri url(:visions, :show, id: "#{@vision.id}") %>
        <div id="fb" class="fb-like" data-href="<%= vision_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
        <div id="gplus" class="g-plus" data-action="share" data-annotation="bubble" data-href="<%= vision_url %>"></div>
        <a id = "twit" href='https://twitter.com/share' class='twitter-share-button' data-url="<%= vision_url %>" data-text='<%= "The Tokyo Project, a vision of 「#{@vision.area.name}」"%>'>Tweet</a>
      </div>
    </div>
    <div class="span1"></div>
  </div>
</div>
<br clear="all"/>
<% @pictures.each do |picture| %>
  <div id="demoLightbox_<%= picture.id %>" class="lightbox hide fade" role="dialog">
    <div class='lightbox-content'><%= image_tag picture.large %></div>
  </div>
<% end %>
