<div class="container">
  <div class="row">
    <div class="span12">
      <h1><%=@vision.title%></h1>
      <h4>
        See more visions for <%= link_to @vision.area.name, url(:areas, :show, :id => @vision.area) %> area
      </h4>
      <h4 class="muted"><%= @vision.short_description %></h4>
    </div>
  </div>
</div>

<div class="container">
  <div id="pictures" class="row">
    <div class="span12">
      <div id="canvas" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") ) %>
            <li data-target="#canvas" data-slide-to="<%= i %>" class="<%= css_class %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @pictures.each_with_index do |picture, i| %>
            <% css_class = (@picture ? (@picture.id == picture.id ? "active" : "") : (i == 0 ? "active" : "") )%>
            <%= partial('visions/picture', :locals => {:css_class => css_class, :picture => picture})%>
          <% end %>
          <br/>
          <div>
            <% picture_url = uri url(:visions, :show, id: "#{@vision.id}") %>
            <div id="fb" class="fb-like" data-href="<%= picture_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            <div id="gplus" class="g-plus" data-action="share" data-annotation="bubble" data-href="<%= picture_url %>"></div>
            <a id = "twit" href='https://twitter.com/share' class='twitter-share-button' data-url="<%= picture_url %>" data-text='<%= "The Tokyo Project, a vision of 「#{@vision.area.name}」"%>'>Tweet</a>
        </div>
        </div>
        <a class="left carousel-control vision_link" href="#canvas" data-slide="prev">‹</a>
        <a class="right carousel-control vision_link" href="#canvas" data-slide="next">›</a>
      </div>
    </div>
  </div>
</div>
