<% error = @post.errors.include?(:title) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :title, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
  </div>
</fieldset>
<% error = @post.errors.include?(:body) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :body, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :body, :class => 'input-xlarge input-with-feedback', :rows => 20 %>
  </div>
</fieldset>
<% error = @post.errors.include?(:is_published) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :is_published, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :is_published, :class => 'input-xlarge input-with-feedback' %>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:posts, :index), :class => 'btn' %>
</div>

<script>
  CKEDITOR.replace("post_body",{
        toolbar : 'Basic',
        height: 300
    })
</script>
