<div class="container">
  <div class="row">
    <div class="span12">
      <h2><%=@vision.title%></h2>
      <h4>
         Back to <%= link_to "normal view", url(:visions, :show, :id => @vision.id) %> 
      </h4>
      <h4 class="muted"><%= @vision.short_description %></h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="Flexible-container">
        <%= link_to(image_tag(@static_map_url), @dynamic_map_url, :target => '_alt') %>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container">
  <div class="row">
    <div class="span12">
      <div id="picture_list">
        <div class="container">
          <div class="row-fluid">
            <% @map_legend.in_groups_of(3) do |group| %>
              <ul class="thumbnails">
                <% group.compact.each do |box| %>
                  <li class="span4">
                    <div class="image_ban">
                      <% picture = Picture.find(box[1]) %>
                      <h4> <%= box[0] %></h4>
                      <%= link_to(image_tag(picture.medium), url(:visions, :show, id: "#{picture.vision.id}", pid: picture.id))%>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
