<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:pictures, :index) %></li>
      <li><%= link_to pat(:new), url(:pictures, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:pictures, :edit, :id => @picture.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:picture) %></h2>
    <div class="inner">
      <% form_for :picture, url(:pictures, :update, :id => @picture.id), :method => :put, :class => :form do |f| %>
        <%= partial "pictures/form", :locals => { :f => f, :visions => @visions } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
