<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:pictures, :index) %></li>
      <li><%= link_to pat(:new), url(:pictures, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <%= mt(:pictures) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:picture, :id) %></th>
          <th><%= mat(:picture, :vision_id) %></th>
          <th><%= mat(:picture, :description_en) %></th>
          <th><%= mat(:picture, :description_es) %></th>
          <th><%= mat(:picture, :description_jp) %></th>
          <th><%= mat(:picture, :preview) %></th>
          <th>published?</th>
          <th class="last">Options</th>
        </tr>
        <% @pictures.each do |picture| %>
        <tr>
          <td class="first"><%= picture.id %></td>
          <td><%= link_to picture.vision.title, url(:visions, :edit, picture.vision_id) %></td>
          <td>
            <div id="d_en_<%=picture.id%>" style="display:none">
              <%= picture.description_en.html_safe %>
            </div>
            <%= link_to "show", '#', :class=>"show_description", :data =>{'div-id' => "d_en_#{picture.id}"} %>
          </td>
          <td>
            <div id="d_es_<%=picture.id%>" style="display:none">
              <%= picture.description_es.html_safe %>
            </div>
            <%= link_to "show", '#', :class=>"show_description", :data =>{'div-id' => "d_es_#{picture.id}"} %>
          </td>
          <td>
            <div id="d_jp_<%=picture.id%>" style="display:none">
              <%= picture.description_jp.html_safe %>
            </div>
            <%= link_to "show", '#', :class=>"show_description", :data =>{'div-id' => "d_jp_#{picture.id}"} %>
          </td>
          <td><%= image_tag(picture.thumb) %></td>
          <td><%= picture.is_published %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:pictures, :edit, :id => picture.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:pictures, :destroy, :id => picture.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= (will_paginate @pictures).html_safe rescue ''%>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
