<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:wards, :index) %></li>
      <li><%= link_to pat(:new), url(:wards, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:wards) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:ward, :id) %></th>
          <th><%= mat(:ward, :name) %></th>
          <th><%= mat(:ward, :description) %></th>
          <th><%= mat(:ward, :created_at) %></th>
          <th><%= mat(:ward, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @wards.each do |ward| %>
        <tr>
          <td class="first"><%= ward.id %></td>
          <td><%= ward.name %></td>
          <td><%= ward.description %></td>
          <td><%= ward.created_at %></td>
          <td><%= ward.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:wards, :edit, :id => ward.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:wards, :destroy, :id => ward.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
