<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:wards, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:wards, :new) %></li>
</ul>

<div class=tabs-content>
  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class="header"><%= mat(:ward, :id) %></th>
        <th class="header"><%= mat(:ward, :name) %></th>
        <th class="header"><%= mat(:ward, :description) %></th>
        <th class="header"><%= mat(:ward, :created_at) %></th>
        <th class="header"><%= mat(:ward, :updated_at) %></th>
        <th class="header list-row-action-header"></th>
      </tr>
    </thead>
    <tbody>
      <% @wards.each do |ward| %>
      <tr class=list-row>
        <td class=list-column><%= ward.id %></td>
        <td class=list-column><%= ward.name %></td>
        <td class=list-column><%= ward.description %></td>
        <td class=list-column><%= ward.created_at %></td>
        <td class=list-column><%= ward.updated_at %></td>
        <td class="list-column list-row-action">
          <div class='list-row-action-wrapper'>
            <%= link_to tag_icon(:edit), url(:wards, :edit, :id => ward.id), :method => :get, :rel => :tooltip, :title => "#{pat(:edit)} ward", :class => 'list-row-action-wrapper-link' %>
            <%= link_to tag_icon(:trash), url(:wards, :destroy, :id => ward.id), :method => :delete, :rel => :tooltip, :title => "#{pat(:delete)} ward", :class => 'list-row-action-delete-one list-row-action-wrapper-link', :onsubmit => "return confirm('#{pat(:confirm)}')" %>
            <div class="popover list-row-action-popover-delete-one left">
              <div class=arrow> </div>
              <h3 class=popover-title><%= pat(:delete, :model => "account") %></h3>
              <div class=popover-content>
                <%- form_tag url(:wards, :destroy, :id => ward.id), :method => :delete do %>
                  <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                  <div class="btn btn-small cancel"><%= pat(:cancel) %></div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    <tbody>
   </table>
</div>
