<% error = @vision.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :area_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select :area_id, :options => areas.collect{|a| [a.name, a.id]} %>
  </div>
</fieldset>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :title, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :title, :class => :text_field %>
  </div>
</fieldset>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :short_description, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :short_description, :class => :text_area %>
  </div>
</fieldset>
<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:visions, :index), :class => 'btn' %>
</div>
