<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:visions, :index) %></li>
      <li><%= link_to pat(:new), url(:visions, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:visions, :edit, :id => @vision.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:vision) %></h2>
    <div class="inner">
      <% form_for :vision, url(:visions, :update, :id => @vision.id), :method => :put, :class => :form do |f| %>
        <%= partial "visions/form", :locals => { :f => f, :areas => @areas } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
