<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Padrino.env.to_s == "production" %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39949529-1']);
        _gaq.push(['_setDomainName', 'tokyo-project.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <%= NewRelic::Agent.browser_timing_header %>
    <% end %>
    <meta charset="utf-8">
    <title>Tokyo Project</title>
    <meta name="description" content="Visions and pictures from Tokyo. A lonely alley, a crowded street, a field full of cherry blossoms, there is magic on every corner of this city.">
    <meta name="author" content="Carlos Donderis Sanz">
    <meta name="keywords" content="japan, tokyo, photography, travel, tokyo-project, tokyo project, fotografía, japón"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= feed_tag(:rss, url(:rss, :index, :format => :rss), :title => "RSS") %>
    <%= feed_tag(:atom, url(:atom, :index, :format => :atom), :title => "ATOM") %>

    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "bootstrap-lightbox.min" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "bootstrap-lightbox.min" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=501953129845093";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <%= partial('layouts/main_nav_bar')%>
    <div class="flash_message">
      <p>
        <%= [:error, :warning, :notice].map { |type| flash[type] }.compact.join(',') %>
      </p>
    </div>
    <br clear="all"/>
    <div class="content top">
      <%= yield %>
    </div>
  </body>
  <footer>
    <div class="container footer">
      <div class="row">
        <div class="span12">
          <div align="center">
            <p>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" />
              </a>
            </p>
              <p>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
              </p>
              <p>
                Powered by <a href="http://www.padrinorb.com" target="_blank">Padrino</a>
              </p>
          </div>
        </div>
      </div>
    </div>
    <%= NewRelic::Agent.browser_timing_footer if Padrino.env.to_s == "production"%>
  </footer>
</html>
