<head>
  <% if Padrino.env.to_s == "production" %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39949529-1']);
      _gaq.push(['_setDomainName', 'tokyo-project.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= NewRelic::Agent.browser_timing_header %>
  <% end %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "bootstrap-lightbox.min" %>
  <%= stylesheet_link_tag "main" %>
  <meta charset="utf-8">
    <%
      title = "Tokyo Project #{yield_content(:title)}"
      meta_description = yield_content(:meta_description)
      meta_description ||= "Visions and pictures from Tokyo. A lonely alley, a crowded street, a field full of cherry blossoms, there is magic on every corner of this city."
      meta_keywords = yield_content(:meta_keywords)
      meta_keywords ||= "japan, tokyo, photography, travel, tokyo-project, tokyo project, fotografía, japón"
    %>
    <title><%= title %></title>
    <meta name="description" content="<%= meta_description %>" />
    <meta name="keywords" content="<%= meta_keywords %>"/>
    <meta name="author" content="Carlos Donderis Sanz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= feed_tag(:rss, url(:rss, :index, :format => :rss), :title => "RSS") %>
    <%= feed_tag(:atom, url(:atom, :index, :format => :atom), :title => "ATOM") %>
</head>
<% images = @latest_visions.collect{|vision| vision.pictures.published.last.large} %>

<body>
  <div class='container-fluid'>
    <!--
      We position the images fixed and therefore need to place them outside of #skrollr-body.
      We will then use data-anchor-target to display the correct image matching the current section (.gap element).
    -->
    <% @latest_visions.each do |vision| %>
      <% img_url = vision.pictures.published.last.large %>
      <div
        class="parallax-image-wrapper parallax-image-wrapper-100"
        data-anchor-target="#anchor_<%= vision.id%> + .gap"
        data-bottom-top="transform:translate3d(0px, 200%, 0px)"
        data-top-bottom="transform:translate3d(0px, 0%, 0px)">

        <div
          class="parallax-image parallax-image-100"
          style="background-image:url(<%= img_url%>)"
          data-anchor-target="#anchor_<%= vision.id%> + .gap"
          data-bottom-top="transform: translate3d(0px, -80%, 0px);"
          data-top-bottom="transform: translate3d(0px, 80%, 0px);"
        ></div>
        <!--the +/-80% translation can be adjusted to control the speed difference of the image-->
      </div>
    <% end %>

    <div id="skrollr-body">
      <ul class="fake_menu">
        <%= partial('layouts/main_nav_bar')%>
      </ul>
      <br clear="all"/>
      <br clear="all"/>
      <% @latest_visions.each_with_index do |vision, index| %>
        <div class="header" id="anchor_<%= vision.id %>">
          <h3><%= link_to(vision.title, url(:visions, :show, :id => vision.id)) %></h3>
        </div>
        <div class="gap gap-100" style="background-image:url(<%= vision.pictures.published.last.large%>);"></div>
        <div class="content" id="anchor_<%= vision.id %>">
          <p><%= vision.short_description %></p>
        </div>
      <% end %>
    </div>
  </div>
</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <%= javascript_include_tag 'imagesloaded' %>
  <%= javascript_include_tag 'skrollr' %>
  <%= javascript_include_tag '_main' %>
  <script type="text/javascript">
  skrollr.init({
    smoothScrolling: false,
    mobileDeceleration: 0.004
  });
  </script>